.container {
  padding: 0 1em 1em;
}

.nav {
  margin-bottom: 2em;
  position: relative;
  border: 1px solid transparent;
  padding: 2em;
  border-radius: 0 0 .2em .2em;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.nav a {
  text-decoration: none;
  color: #464646;
}

.nav li {
  display: inline-block;
}

.nav a:hover {
  color: #27ae60;
  transition: color 0.5s ease
}

.user {
  position: absolute;
  right: 20px;
  top: 12px;
  cursor: pointer;
}

.user a img {
  border-radius: 9999px;
  border: 2px solid #ECECEC;
  position: relative;
  width: 50px;
}

.userNav {
  display: none;
}
