.item {
  padding: 17px 20px;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  color: #76838f;
  background: 0 0;
  font-size: 18px;
  line-height: 18px;
  border-top: 1px solid #ededed;
  cursor: pointer;
}

.item:first-child  {
  border-top: 0;
}

.number {
  display: inline-block;
  vertical-align: top;
}

.title {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-left: 14px;
}

.duration {
  display: inline-block;
  vertical-align: top;
  float: right;
}