.nav {
  position: absolute;
  z-index: 1;
  background: #E8293F;
  height: 60px;
  width: 100%;
}

.browser {
  display: inline-block;
  position: absolute;
  top: 16px;
}

.browser a {
  text-decoration: none;
  font-weight: 600;
  color: #EDF2F4;
  font-size: 20px;
  padding: 20px 20px;
}

.search {
  float: right;
  height: 100%;
  position: relative;
  width: 34%;
}

.search span {
  position: absolute;
  right: 10px;
  top: 10px;
}

.icon {
  display: inline-block;
}

.searchForm {
  display: inline-block;
  vertical-align: top;
}

.searchForm input {
  border-radius: 15px;
  position: absolute;
  right: 50px;
  top: 13px;
  height: 25px;
  border: 0;
  padding: 4px 10px;
  font-weight: 600;
  outline: none;
  font-family: 'Work Sans', sans-serif;
}