.container {
  position: relative;
  height: 100vh;
}

.nav {
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  height: 60px;
  width: 100%;
}

.billboard {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
