.container {
  max-width: 360px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loginForm {
  background: #FFFFFF;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.logo {
  padding-top: 20.26%;
  position: relative;
  margin: 1em 0 2em;
}

.logo img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.label {
  margin: 0 0 .5em;
  display: block;
}

.input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 .5em;
  padding: 1em;
  box-sizing: border-box;
  font-size: 1em;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset;
}

.submit {
  text-transform: uppercase;
  outline: 0;
  background: #27ae60;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.inputGroup {
  text-align: left;
}
